<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>Дата</th>
                <th>Артикул</th>
                <th>Ед.</th>
                <th>Закуп</th>
                <th>Кол-во</th>
                <th>Сумма</th>
                <th>Статус</th>
                <th>Розница</th>
                <th>Наценка</th>
                <th>Примечание</th>
                <th>Поставщик</th>
                <th>Склад</th>
                <th>Оплата</th>
                <th>Счет №</th>
                <th>Дата счета</th>
            </tr>
        </thead>
        <tbody>
            {% for order in data.orders %}
            <tr>
                <td>{{ order.data_prinatia_zakaza }}</td>
                <td>{{ order.artikul }}</td>
                <td>{{ order.edinicy_izmerenia }}</td>
                <td>{{ order.zakup|float|round|int }}</td>
                <td>{{ order.kolicestvo|float|round|int }}</td>
                <td>{{ order.summa|float|round|int }}</td>
                <td>{{ order.status }}</td>
                <td>{{ order.roznica|float|round|int }}</td>
                <td>{{ order.nacenka|default('', true) }}</td>
                <td>{{ order.primecanie if order.primecanie != 'nan' else '' }}</td>
                <td>{{ order.postavsik }}</td>
                <td>{{ order.sklad }}</td>
                <td>{{ order.oplata }}</td>
                <td>{{ order.schet_no }}</td>
                <td>{{ order.data_sceta }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>