<thead class="table-light text-center">
    <tr>
        <th>Месяц</th>
        {% for month in data.monthly_stats.keys() %}
        <th>{{ month }}</th>
        {% endfor %}
    </tr>
</thead>
<tbody class="text-center align-middle">
    <tr class="table-success fw-semibold">
        <td>Продажи</td>
        {% for stat in data.monthly_stats.values() %}
        <td>{{ stat.sales|float|round|int }}</td>
        {% endfor %}
    </tr>
    <tr class="table-success">
        <td>Сумма продаж</td>
        {% for stat in data.monthly_stats.values() %}
        <td>{{ stat.salesum|float|round|int }}</td>
        {% endfor %}
    </tr>
    <tr class="table-warning fw-semibold">
        <td>Остаток</td>
        {% for stat in data.monthly_stats.values() %}
        <td>{{ stat.stock|float|round|int }}</td>
        {% endfor %}
    </tr>
    <tr class="table-warning">
        <td>Цена</td>
        {% for stat in data.monthly_stats.values() %}
        <td>{{ stat.tsena|float|round|int if stat.tsena is not none else '' }}</td>
        {% endfor %}
    </tr>
    <tr class="table-info fw-semibold">
        <td>Поставки</td>
        {% for stat in data.monthly_stats.values() %}
        <td>{{ stat.sup|float|round|int }}</td>
        {% endfor %}
    </tr>
    <tr class="table-info">
        <td>Сумма поставок</td>
        {% for stat in data.monthly_stats.values() %}
        <td>{{ stat.supsum|float|round|int }}</td>
        {% endfor %}
    </tr>
</tbody>